//colors
$main: #0A0E30;
$blue: #1C8FF9;
$pink: #FC00E3;
$white: #FFFFFF;

$gradient: linear-gradient(90deg, rgba(28,143,249,1) 0%, rgba(252,0,227,1) 100%);
$gradient-btn: linear-gradient(90deg, rgba(26,67,138,1) 0%, rgba(111,13,129,1) 100%);